@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .active_nav {
    @apply relative before:absolute  !text-[#00D880]  before:w-full before:top-[25px] before:h-[2px] before:bg-[#00D880];
  }
  .container-tarif {
    @apply max-w-[95em] mx-auto px-5;
  }
}
@media (min-width: 1320px) {
  .container {
    max-width: 1512px !important;
  }
}
@media (min-width: 1140px) {
  .container {
    max-width: 1280px !important;
  }
}
* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-family: 'Poppins', sans-serif !important;
}
body {
  color: #000;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 0;
}
img {
  width: 100%;
}
a {
  text-decoration: none;
}
body {
  color: #000000;
  background-color: #f7f8fd;
}
.rbc-event {
  height: 60px !important;
}

/* .apexcharts-legend.apexcharts-align-center.apx-legend-position-bottom{
    position: absolute;
    top: 0 !important;
    right: 0 !important;
} */

.performance .profit {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.border-top-bottom {
  width: 5px;
  background-color: #ebebeb;
  height: 100%;
  position: absolute;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
}
.orders p.active,
.nav-menu-list button.active {
  color: #00d880;
  position: relative;
}
.orders p.active::before {
  border-bottom: 2px solid #00d880;
  position: absolute;
  content: '';
  width: 100%;
  bottom: -5px;
}
.nav-menu-list button:hover {
  background-color: transparent;
  color: #00d880;
}
.rbc-toolbar-label,
.rbc-toolbar-label {
  font-size: 20px;
  font-weight: 600;
  color: #000;
}
.rbc-btn-group:last-child {
  display: none !important;
}
.rbc-btn-group:first-child button:nth-child(2) {
  position: absolute;
  left: -71px;
}
.rbc-btn-group:first-child {
  position: relative;
}
.rbc-toolbar {
  flex-direction: row-reverse;
  align-items: center;
}
.rbc-btn-group:first-child button:nth-child(2)::after {
  width: 30px;
  height: 30px;
  content: '<';
  position: absolute;
  font-size: 30px;
  top: -3px;
}
.rbc-btn-group button {
  border: none !important;
}
.rbc-btn-group button:first-child {
  position: relative;
  left: -20px;
  top: 0px;
  background-color: #00d880;
  border-radius: 20px !important;
  color: #fff;

  font-size: 14px;
}
.rbc-btn-group button:first-child:hover {
  background-color: #00d880 !important;
  color: #fff !important;
}

.rbc-toolbar button:hover {
  color: #373a3c;
  background-color: transparent !important;
  border-color: transparent !important;
}
.rbc-toolbar button:active,
.rbc-toolbar button.rbc-active {
  box-shadow: none !important;
}
.rbc-toolbar button:focus {
  background-color: transparent !important;
}
.rbc-btn-group:first-child button:nth-child(3)::after {
  width: 30px;
  height: 30px;
  content: '>';
  position: absolute;
  font-size: 30px;
  top: -3px;
  right: 20px;
}
.rbc-btn-group:first-child button:nth-child(2),
.rbc-btn-group:first-child button:nth-child(3) {
  width: 30px;
  height: 30px;
  font-size: 1px;
}

.no-scroll::-webkit-scrollbar {
  display: none;
}

.no-scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.table-scroll::-webkit-scrollbar {
  width: 7px;
}
.table-scroll::-webkit-scrollbar-track {
  background: hsla(155, 100%, 37%, 0.342);
}
.table-scroll::-webkit-scrollbar-thumb {
  background: #00bc6f;
  border-radius: 5px;
}
.rbc-event,
.rbc-day-slot .rbc-background-event {
  border: none;
  box-sizing: border-box;
  box-shadow: none;
  margin: 0;
  padding: 2px 5px;
  background-color: #e5fef4 !important;
  border-radius: 5px;
  color: #000 !important;
  cursor: pointer;
  width: 100%;
  text-align: left;
}
.rbc-today {
  background-color: #ffeeea !important;
}
.rbc-off-range-bg {
  color: rgba(0, 0, 0, 0.3) !important;
  background: #fff !important;
}
.rbc-day-bg {
  color: rgba(0, 0, 0, 0.7) !important;
  text-align: right;

  font-size: 14px !important;
  font-style: normal;
  font-weight: 400 !important;
  line-height: normal;
}
